"input_headers": [
        "Content-Type",
        "Cookie",
        "Authorization",
        "x-user",
        "x-token-limits",
        "x-token-type",
        "x-token-jti",
        "x-token-iat",
        "x-token-exp"
      ]